a:link, a:visited {
    background-color: #003434;
    color: white;
    padding: 14px 25px;
       text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: black;}
.headersection {background:#F10D2C  ;}
.content {
	max-width:1200px;
        margin: auto;
        min-height:40px;
        border:solid black;
}
body {
    background: #F39C12 ;

}
